body{
  background-color: #eaf6f6;
}

hr{
  width: 7%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
}

img{
  height: 200px;
}

h1{
  font-weight: bold;
  color: #66BFBF;
}

a{
  color:black;
}

h2, h3{
  color: #66BFBF;
}

.linked{
  color: #66BFBF;
}
